
{% extends 'base.html' %}
{% block content1 %}

<h4>ZIP code lookup app</h4>
<form action="{{ url_for('home') }}" method="POST">
    {{ form.name.label() }}{{ form.name() }}<br>

	{{ form.state.label() }}{{ form.state() }}
	{% if form.state.errors %}
	    {% for error in form.state.errors %}
	      <b>{{ error }}</b>
	    {% endfor %}
	{% endif %}

    {{ form.submit() }}
    {{ form.hidden_tag() }}

</form>

<div>
{% for message in get_flashed_messages() %}
    <strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

{% endblock %}
